/*.step7-position-fixed {
  position: fixed;
  border: solid yellow 1px;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}

.step7-position-relative {
  border: solid red 1px;
  position: relative;
  width: 600px;
  height: 400px;
}
.step7-position-absolute {
  position: absolute;
  border: solid powderblue 1px;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
} */
.step8-container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
section {
  margin-left: 200px;
  border-left: solid black 1px;
  border-bottom: solid black 1px;
}
footer {
  position: relative;
  border-top: solid black 1px;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}
