body {
  background-image: url('배경화면3.jpg');
  background-repeat: repeat-x;
  background-position: top center;
  background-color: #eff4e6;
  background-size: auto 250px;
}
.title {
  border-color: #fff;
  font-family: "궁서";
  min-width: 670px;
  margin: 5px;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  border-bottom: #000000 solid 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 120fr;
  grid-gap: 10px;
}
.smalltitle {
  font-weight:bold;
  font-size: 20px
}
li{
  margin-bottom: 10px;

}
li a {
    color: #595959;
}
.point {
  padding-right: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.list {
  background-color: #fff;
  margin: 5px;
  min-width: 150px;
  width: 15%;
  min-height: 2450px;
  border: #cccccc solid 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.contentlist{

}

.readinglist {
  border-top: #cccccc solid 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.listgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.readinglist_book {
  border: #cccccc solid 1px;
  max-width: 155px;
  text-align: justify;
  margin: 2.5px
}
.readinglist_book_photo {
  max-width: 150px;
  margin: 3px;
}
.content {
  border-color: #fff;
  margin: 5px;
  border-top: #cccccc solid 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.sarth {

}
