body {
  background-color: #000;
}
a {
    text-decoration: none;
    color: #fff;
}
.grid {
  max-width: 43.5em;
  background-position: center;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(6, 7em);
  grid-auto-rows: 7em;
  grid-gap: 5px;
  margin: 0.5em auto;

  //border: 2px solid #f76707;
  //border-radius: 5px;
  //background-color: #fff4e6;
}
.box{
  display: block;
  text-align: center;
  min-width: 7em;
  min-height: 7em;
  background-color: rgba(239, 244, 230, 0.5);
  border: #dde7cb solid 0.3em;
  padding: 1em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.mainbox {
  color: #fff;
  font-size: 2em;
  padding: 2em 1em;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box2x3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.box2x4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.box3x2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box3x5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.box4x2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box4x5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
.box5x3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.box5x4 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
.box:hover {
  background-color: #dde7cb;
  color: #000;
}
.mainbox:hover {
  background-color: rgba(239, 244, 230, 0.5)!important;
  color: #fff;
}
.eventmain {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.calendarmain {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.requestmain {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.recommendationmain {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.feedbackmain {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.searchmain {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.freeboardmain {
  background-color: #dde7cb;
  color: #000;
}
.freeboard {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 10;
}
.listmain {
  background-color: #dde7cb;
  color: #000;
}
.list_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}
.list_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.list_3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}
.list_4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}
.list_5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}
.list_6 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
}
